<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/edit}" th:object="${user}">

    <input type="hidden" th:field="*{id}" id="id"/>

    <label for="name"> Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>

    <label for="surname"> Username: </label>
    <input type="text" th:field="*{username}" id="surname"/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>

    <label for="age"> Password: </label>
    <input type="text" th:field="*{password}" id="age"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>

    <br>
    <input type="submit" value="Edit">
</form>

<a th:href="@{/logout}">Logout</a>

</body>
</html>