<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Add page</title>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<div th:fragment="reg_form">
    <div class="container mt-4">
        <h6>Add new user</h6>
        <hr/>
        <form th:action="@{/admin/registration}" th:object="${user}" th:method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" class="form-control" th:field="*{name}" id="name"/>
                <div th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></div>
            </div>

            <div class="mb-3">
                <label for="lastName" class="form-label">Last Name:</label>
                <input type="text" class="form-control" th:field="*{lastName}" id="lastName"/>
                <div th:if="${#fields.hasErrors('lastName')}" class="text-danger" th:errors="*{lastName}"></div>
            </div>

            <div class="mb-3">
                <label for="age" class="form-label">Age:</label>
                <input type="number" class="form-control" th:field="*{age}" id="age"/>
                <div th:if="${#fields.hasErrors('age')}" class="text-danger" th:errors="*{age}"></div>
            </div>

            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" class="form-control" th:field="*{username}" id="username"/>
                <div th:if="${#fields.hasErrors('username')}" class="text-danger" th:errors="*{username}">Username
                    already exists
                </div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" th:field="*{password}" id="password"/>
                <div th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="*{password}"></div>
            </div>

            <div class="mb-3">
                <label class="form-label">Roles:</label>
                <div th:each="role, stat : ${allRoles}" class="form-check">
                    <input type="checkbox" th:value="${role.id}" th:name="roles" th:id="${'role' + stat.index}"
                           class="form-check-input"/>
                    <label th:text="${role.name}" th:for="${'role' + stat.index}" class="form-check-label"></label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
</body>
</html>