<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Add page</title>
    <meta charset="UTF-8">
</head>
<body>

<form th:method="POST" th:action="@{/admin/registration}" th:object="${user}">

    <input type="hidden" th:field="*{id}" id="id"/>

    <label for="name"> Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

    <label for="username"> Username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username already exists</div>

    <label for="password"> Password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

    <div>
        <label>Roles:</label>
        <div th:each="role : ${allRoles}">
            <input type="checkbox" th:value="${role.id}" th:name="roles"/>
            <label th:text="${role.name}"></label>
        </div>
    </div>

    <br>
    <input type="submit" value="Register!">

</form>

</body>
</html>