<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>
<h2>User Information</h2>
<table style="border:1px solid black;border-collapse:collapse;font-size: large">
    <thead>
    <tr>
        <th style="border:1px solid black;"> Name </th>
        <th style="border:1px solid black;"> Username </th>
        <th style="border:1px solid black;"> Password </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="border:1px solid black;"><span th:text="${user.name}"> Name </span></td>
        <td style="border:1px solid black;"><span th:text="${user.username}"> Username </span></td>
        <td style="border:1px solid black;"><span th:text="${user.password}"> Password </span></td>
    </tr>
    </tbody>
</table>

<a th:href="@{/logout}">Logout</a>
</body>
</html>