<div class="container mt-4">
    <h2>User Information Page</h2>
    <hr/>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Username</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody id="userInfoBody">
        <!-- Данные пользователя будут вставлены здесь -->
        </tbody>
    </table>
</div>

<script>
    $(document).ready(() => {
        fetch("/user/info")
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok' + response.statusText);
                }
                return response.json();
            })
            .then(userDto => {
                const userInfoBody = document.getElementById('userInfoBody');
                const roles = userDto.roles.join(', ');
                userInfoBody.innerHTML =
                    `<tr>
                        <td>${userDto.id}</td>
                        <td>${userDto.name}</td>
                        <td>${userDto.lastName}</td>
                        <td>${userDto.age}</td>
                        <td>${userDto.username}</td>
                        <td>${roles}</td>
                    </tr>`
                ;
            })
            .catch(error => console.error('Error loading user info:', error));
    });
</script>
